.nav-list,
.header-contacts,
.footer-contacts,
.features-list,
.working__list,
.command__list,
.projects__button-list,
.projects-list {
    list-style-type: none;
}
/* Домашшнє завдання 3*/
/* Домашнє завдання 4*/
/* Домашнє завдання 5*/

.social-list__link,
.nav-list__link,
.footer-contacts__mail,
.header-contacts__tel,
.header-contacts__mail,
.header-contacts__mail-icon,
.header-contacts__tel-icon,
.footer-contacts__tel,
.footer-contacts__address,
.company__logo,
.company__link,
.projects__button,
.project-card,
.nav-list__link::after
 {
    transition-property: color, background-color, fill, box-shadow, border-color, opacity, visibility, transform;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--cubic);
    }
/*Домашнє завдання 6*/