
.footer-contacts__address {
    color: var(--main-color);
}
.footer-contacts__address:hover,
.footer-contacts__address:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.footer-contacts__tel,
.footer-contacts__mail {
    color: var(--footer-contacts-color);
}

.footer-contacts__tel:hover,
.footer-contacts__mail:hover,
.footer-contacts__tel:focus,
.footer-contacts__mail:focus {
    color: var(--accent-color);
}

.footer-contacts__tel,
.footer-contacts__mail,
.footer-contacts__address,
.nav-list__link {
    text-decoration: none;
}
.footer-contacts__tel {
    white-space: nowrap; 
}
        .page-footer {
            background-color: var(--footer-color);
            margin: auto;
            padding: 60px 0;
        }
    
        .footer-contacts {
            padding: 0;
            margin: 0;
        }
    
        .footer-contacts__item:not(:last-child) {
            margin-bottom: 9px;
        }
    
        .page-footer .logo {
            margin-bottom: 20px;
        }
.footer-contacts__mail,
.footer-contacts__tel {
    display: flex;
    align-items: center;
}
.page-footer {
    display: flex;
}

.page-footer__join {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
}

.page-footer .social-list__link,
.page-footer .social-list__link {
    color: var(--main-color);
    background-color: var(--icons-footer-around-color);
}

.page-footer .social-list__link:hover,
.page-footer .social-list__link:focus {
    background-color: var(--accent-color);
}

.page-footer .container {
    align-items: baseline;
}

.page-footer__social {
    padding-top: 12px;
    margin-left: 70px;
}
.footer-contacts {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}
.footer-subscribe__newsletter {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    justify-content: flex-end;
    margin-left: auto;
}

.footer-subscribe__email {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid var(--footer-border-color);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px var(--foter-shadow));
    color: var(--main-color);
}

.footer-subscribe__email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    color: var(--footer-contacts-color);
}

.footer-subscribe__button {
    width: 200px;
    height: 50px;
    padding: 0;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px var(--foter-shadow);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-color);

}

.footer-subscribe__icon {
    margin-left: 10px;
    fill: currentColor;
}